<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>  
	<settings>
	 	<setting name="localCacheScope" value="STATEMENT"></setting>
	</settings>
	
	<typeAliases>
		<!--board VO -->
		<typeAlias type="org.iptime.iothome.batch.model.CustomerVo" alias="customerVo"/>
		<typeAlias type="org.iptime.iothome.batch.model.CycleVo" alias="cycleVo"/>  
    </typeAliases>
    
    <mappers>
		<mapper resource="org/iptime/iothome/config/mybatis/batch.xml"/>
	</mappers>
</configuration>